In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
csv_file = "BEA_data.csv"
BEA_df = pd.read_csv(csv_file, encoding='latin-1')
BEA_df.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"""00000""",United States,,CAINC1,1.0,...,Personal income (thousands of dollars),Thousands of dollars,791229000,855525000,...,13330436000,14003346000,14189228000,14969527000,15681233000,16092713000,16845028000,17681159000,18402004000,19607447000
1,"""00000""",United States,,CAINC1,2.0,...,Population (persons) 1/,Number of persons,201298000,203798722,...,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329484123
2,"""00000""",United States,,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,...,42783,44614,44894,47017,48891,49812,51811,54098,56047,59510
3,"""01000""",Alabama,5,CAINC1,1.0,...,Personal income (thousands of dollars),Thousands of dollars,9737715,10628318,...,168474324,173361655,175185262,181078773,189115437,192363456,199336413,207053583,215930375,228748804
4,"""01000""",Alabama,5,CAINC1,2.0,...,Population (persons) 1/,Number of persons,3440000,3449846,...,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4921532

In [3]:
reduced_BEA_df = BEA_df[["GeoFIPS", "GeoName", "Region", "TableName", "LineCode", "IndustryClassification", "Description", "Unit", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020" ]]
reduced_BEA_df

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2013,2014,2015,2016,2017,2018,2019,2020
0,"""00000""",United States,,CAINC1,1.0,...,Personal income (thousands of dollars),Thousands of dollars,14189228000,14969527000,15681233000,16092713000,16845028000,17681159000,18402004000,19607447000
1,"""00000""",United States,,CAINC1,2.0,...,Population (persons) 1/,Number of persons,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329484123
2,"""00000""",United States,,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,44894,47017,48891,49812,51811,54098,56047,59510
3,"""01000""",Alabama,5,CAINC1,1.0,...,Personal income (thousands of dollars),Thousands of dollars,175185262,181078773,189115437,192363456,199336413,207053583,215930375,228748804
4,"""01000""",Alabama,5,CAINC1,2.0,...,Population (persons) 1/,Number of persons,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4921532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9599,"""98000""",Far West,8,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,47320,50056,53065,54895,57115,59774,62434,67447
9600,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9601,CAINC1: Personal Income Summary: Personal Inco...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9602,"Last updated: November 16, 2021-- new statisti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9603,Source: U.S. Department of Commerce / Bureau o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
reduced_BEA_df.to_csv('BEA_2013_2020.csv', encoding='utf-8', index=False)

In [5]:
reduced_BEA_df.dropna(how = 'any', inplace = True)

C:\Users\farim\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
reduced_BEA_df['County'], reduced_BEA_df['State'] = reduced_BEA_df ['GeoName'].str.split(',', 1).str
reduced_BEA_df

C:\Users\farim\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.
C:\Users\farim\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2013,2014,2015,2016,2017,2018,2019,2020,County,State
0,"""00000""",United States,,CAINC1,1.0,...,Personal income (thousands of dollars),Thousands of dollars,14189228000,14969527000,15681233000,16092713000,16845028000,17681159000,18402004000,19607447000,United States,NaN
1,"""00000""",United States,,CAINC1,2.0,...,Population (persons) 1/,Number of persons,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329484123,United States,NaN
2,"""00000""",United States,,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,44894,47017,48891,49812,51811,54098,56047,59510,United States,NaN
3,"""01000""",Alabama,5,CAINC1,1.0,...,Personal income (thousands of dollars),Thousands of dollars,175185262,181078773,189115437,192363456,199336413,207053583,215930375,228748804,Alabama,NaN
4,"""01000""",Alabama,5,CAINC1,2.0,...,Population (persons) 1/,Number of persons,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4921532,Alabama,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9595,"""97000""",Rocky Mountain,7,CAINC1,2.0,...,Population (persons) 1/,Number of persons,11378378,11529028,11708333,11899501,12074562,12245254,12401168,12547416,Rocky Mountain,NaN
9596,"""97000""",Rocky Mountain,7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,42770,45358,47049,47359,49615,52318,54720,57606,Rocky Mountain,NaN
9597,"""98000""",Far West,8,CAINC1,1.0,...,Personal income (thousands of dollars),Thousands of dollars,2558464322,2732123675,2924969778,3053982801,3201394128,3367569391,3527996046,3816145032,Far West,NaN
9598,"""98000""",Far West,8,CAINC1,2.0,...,Population (persons) 1/,Number of persons,54067534,54581029,55120085,55633433,56051873,56338245,56507739,56579620,Far West,NaN
9599,"""98000""",Far West,8,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,47320,50056,53065,54895,57115,59774,62434,67447,Far West,NaN

In [7]:
income_per_capita_df = reduced_BEA_df.loc[reduced_BEA_df['LineCode'] == 3.0]
income_per_capita_df

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2013,2014,2015,2016,2017,2018,2019,2020,County,State
2,"""00000""",United States,,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,44894,47017,48891,49812,51811,54098,56047,59510,United States,NaN
5,"""01000""",Alabama,5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,36258,37384,38954,39525,40864,42328,43996,46479,Alabama,NaN
8,"""01001""","Autauga, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,36041,37240,39309,40422,41629,42931,44368,46814,Autauga,AL
11,"""01003""","Baldwin, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,39045,40453,42489,44044,45397,46905,48270,50953,Baldwin,AL
14,"""01005""","Barbour, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,29953,29863,31671,31765,32759,34064,35572,37850,Barbour,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9587,"""94000""",Plains,4,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,44996,46674,47973,48331,49585,51687,53279,56466,Plains,NaN
9590,"""95000""",Southeast,5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,39581,41426,43129,43899,45684,47557,49325,52096,Southeast,NaN
9593,"""96000""",Southwest,6,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,42793,45136,45316,44681,46967,49442,51016,53261,Southwest,NaN
9596,"""97000""",Rocky Mountain,7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,42770,45358,47049,47359,49615,52318,54720,57606,Rocky Mountain,NaN
9599,"""98000""",Far West,8,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,47320,50056,53065,54895,57115,59774,62434,67447,Far West,NaN

In [16]:
reduced_income_per_capita_df = income_per_capita_df.loc[(income_per_capita_df['2013']!= "(NA)") & (income_per_capita_df['2014']!= "(NA)")
                                                       & (income_per_capita_df['2015']!= "(NA)") & (income_per_capita_df['2016']!= "(NA)")
                                                       & (income_per_capita_df['2017']!= "(NA)") & (income_per_capita_df['2018']!= "(NA)") & (income_per_capita_df['2019']!= "(NA)") & (income_per_capita_df['2020']!= "(NA)")]

reduced_income_per_capita_df.dropna(how = 'any', inplace = True)
reduced_income_per_capita_df

C:\Users\farim\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2013,2014,2015,2016,2017,2018,2019,2020,County,State
8,"""01001""","Autauga, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,36041,37240,39309,40422,41629,42931,44368,46814,Autauga,AL
11,"""01003""","Baldwin, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,39045,40453,42489,44044,45397,46905,48270,50953,Baldwin,AL
14,"""01005""","Barbour, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,29953,29863,31671,31765,32759,34064,35572,37850,Barbour,AL
17,"""01007""","Bibb, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,27266,28090,28972,28792,29060,30250,31540,34300,Bibb,AL
20,"""01009""","Blount, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,30429,31789,33022,33108,34420,35905,36969,38808,Blount,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9563,"""56037""","Sweetwater, WY",7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,48385,49655,49947,47824,50989,54941,55947,54000,Sweetwater,WY
9566,"""56039""","Teton, WY",7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,177428,201029,198826,206435,225987,217958,222893,220645,Teton,WY
9569,"""56041""","Uinta, WY",7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,39564,39640,39387,37918,38652,40205,41392,42854,Uinta,WY
9572,"""56043""","Washakie, WY",7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,42060,45675,45099,43991,45435,48717,51138,54361,Washakie,WY
9575,"""56045""","Weston, WY",7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,44248,47694,47411,42335,42799,45047,46658,47599,Weston,WY

In [9]:
reduced_income_per_capita_df[['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']] = reduced_income_per_capita_df[['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']].apply(pd.to_numeric)

C:\Users\farim\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [10]:
list_of_states = reduced_income_per_capita_df['State'].unique()
list_of_states

array([' AL', ' AK*', ' AK', ' AZ', ' AZ*', ' AR', ' CA', ' CO*', ' CO',
       ' CT', ' DE', ' DC', ' FL', ' GA', ' HI', ' HI*', ' ID', ' IL',
       ' IN', ' IA', ' KS', ' KY', ' LA', ' ME', ' MD', ' MA', ' MI',
       ' MN', ' MS', ' MO', ' MT', ' NE', ' NV', ' NH', ' NJ', ' NM',
       ' NM*', ' NY', ' NC', ' ND', ' OH', ' OK', ' OR', ' PA', ' RI',
       ' SC', ' SD', ' SD*', ' TN', ' TX', ' UT', ' VT', ' VA', ' VA*',
       ' Staunton + Waynesboro, VA*',
       ' Colonial Heights + Petersburg, VA*',
       ' Fairfax City + Falls Church, VA*',
       ' Manassas + Manassas Park, VA*', ' Buena Vista + Lexington, VA*',
       ' WA', ' WV', ' WI', ' WI*', ' WY'], dtype=object)

In [26]:
# removing rows from the df with state name more than two characters

reduced_income_per_capita_df['state_length'] = reduced_income_per_capita_df.State.str.len()
reduced_income_per_capita_df_2 = reduced_income_per_capita_df.loc[reduced_income_per_capita_df['state_length']<4]
reduced_income_per_capita_df_2

C:\Users\farim\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2013,2014,2015,2016,2017,2018,2019,2020,County,State,state_length
8,"""01001""","Autauga, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,36041,37240,39309,40422,41629,42931,44368,46814,Autauga,AL,3
11,"""01003""","Baldwin, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,39045,40453,42489,44044,45397,46905,48270,50953,Baldwin,AL,3
14,"""01005""","Barbour, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,29953,29863,31671,31765,32759,34064,35572,37850,Barbour,AL,3
17,"""01007""","Bibb, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,27266,28090,28972,28792,29060,30250,31540,34300,Bibb,AL,3
20,"""01009""","Blount, AL",5,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,30429,31789,33022,33108,34420,35905,36969,38808,Blount,AL,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9563,"""56037""","Sweetwater, WY",7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,48385,49655,49947,47824,50989,54941,55947,54000,Sweetwater,WY,3
9566,"""56039""","Teton, WY",7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,177428,201029,198826,206435,225987,217958,222893,220645,Teton,WY,3
9569,"""56041""","Uinta, WY",7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,39564,39640,39387,37918,38652,40205,41392,42854,Uinta,WY,3
9572,"""56043""","Washakie, WY",7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,42060,45675,45099,43991,45435,48717,51138,54361,Washakie,WY,3
9575,"""56045""","Weston, WY",7,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,44248,47694,47411,42335,42799,45047,46658,47599,Weston,WY,3

In [29]:
reduced_income_per_capita_df_2.to_csv('BEA_2013_2020_clean.csv', encoding='utf-8', index=False)

In [30]:
list_of_states_2 = reduced_income_per_capita_df_2['State'].unique()
list_of_states_2

array([' AL', ' AK', ' AZ', ' AR', ' CA', ' CO', ' CT', ' DE', ' DC',
       ' FL', ' GA', ' HI', ' ID', ' IL', ' IN', ' IA', ' KS', ' KY',
       ' LA', ' ME', ' MD', ' MA', ' MI', ' MN', ' MS', ' MO', ' MT',
       ' NE', ' NV', ' NH', ' NJ', ' NM', ' NY', ' NC', ' ND', ' OH',
       ' OK', ' OR', ' PA', ' RI', ' SC', ' SD', ' TN', ' TX', ' UT',
       ' VT', ' VA', ' WA', ' WV', ' WI', ' WY'], dtype=object)

In [31]:
# years = ['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
# for state in list_of_states:
#     state_data = reduced_income_per_capita_df.loc[reduced_income_per_capita_df['State'] == state]
#     for i in range (8):
#         state_data_year = state_data.iloc[:, 9+i]
#         ax = state_data_year.hist(grid = True, bins = 30, figsize(15,30))
#         ax.set_ylabel("frequency")
#         ax.set_xlabel ("personal income per capita$")
        
#         fig = ax.get_figure()
#         fig.savefig(f"Images/{state}_{i}.png") 
#         plt.clf()